html {
    font-family: 'Noto Color Emoji', sans-serif;
    color: #828994;
    font-size: 24px;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    width: 90%;
}

#logo {
    display: flex;
    height: 40px;
    margin-left: 20px;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Lexend', sans-serif;

}

.navigation-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    width: 800px;
    list-style-type:none;
    padding: 0;
    
}

button {
    display: flex;
    background-color: white;
    border: 0;
    color: #828994;
    cursor: pointer;
}

.fa-circle-half-stroke {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: #828994;
    font-family: 'Lexend', sans-serif;
}

.about-me-container {
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    
}

.portrait {
    width: 500px;
    float: right;

}

main { 
    margin: 0 auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;

}

.inventions h3 {
    display: inline-block;
    margin: 10px 10px;
}

details > summary:first-of-type {
    list-style: none;
}

details > summary::before {
    content: "🗲 ";
}

.inventions-image {
    width: 100%;
}

#others-container ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
}

#others-container li {
    
    display: inline-block;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    background-color: #828994;
    color: white;
    font-size: 0.9rem;
}

footer {
    text-align: center;
    padding: 0.5rem 0; 
    background-color: #828994;
    color: white;
    
}

html.dark {
    color: white;
    background-color: #828994;
    
}

.dark a {
    color: white;
}

.dark #others-container li {
    background-color: white;
    color: #828994;
}

.dark footer {
    background-color: white;
    color: #828994;
}

.dark button {
    background-color: #828994;
    color: white;
}